{% comment %}
** Header - default view **
- Static section
{% endcomment %}


{% comment %}Main navigation{% endcomment %}
<header class="">
    <div class="top_bar_links">
        <div>
            <a class="phone_link" href="tel:{{ shop.phone }}">
                {{ shop.phone }}
            </a>
            <a class="mail_link" href="mailto:{{ shop.email }}">
                {{ shop.email }}
            </a>
        </div>
        <div>
            <a href="{{ routes.account_url }}" class="signin_link">
                {{ section.settings.signIn }}
            </a>
            <a href="{{ routes.cart_url }}" class="cart_link">
                {{ section.settings.cart }}
            </a>
        </div>
    </div>
    <div class="header_logo">
        <a href="/">
            <img src="{{section.settings.logo}}" alt="logo whelehans wine"/>
        </a>
    </div>
    <nav>
        <ul>

            {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
            <li>
                <input class="Search" placeholder="search" type="search">
            </li>
        </ul>
    </nav>
</header>

{% stylesheet 'scss' %}

header {

    color: #744b8d;
    a,
    a:visited {
        color: #744b8d;
    }

    .signin_link {
        padding-right: 37px;
        text-transform: uppercase;
    }

    .cart_link {
        background: #744b8d;
        color: white;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: 52px;
        padding-right: 60px;
    }
}


.top_bar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F1F1F1;
    height: 40px;
    font-size: 14px;
    .mail_link,
    .phone_link {
        padding-left: 30px;
    }

    div {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}


.header_logo {
    justify-content: center;
    display: flex;
    img {
        height: 66px;
        margin: 30px;
        display: flex;
    }

}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding-left: 25px;
            padding-right: 25px;
            margin: 0;
            font-size: 18px;
            input[type="search"] {

                margin: 0;
                width: 290px;
                height: 40px;
                border-radius: 40px;
                padding-left: 21px;
                font-size: 16px;
                line-height: 21px
            }
        }

    }
}

{% endstylesheet %}


{% schema %}

{
    "name": "Header",
    "class": "header-section",
    "settings": [
        {
            "type": "text",
            "id": "signIn",
            "label": "Sign in Link",
            "default": "Sign in"
        }, {
            "type": "text",
            "id": "cart",
            "label": "Cart Link",
            "default": "Cart"
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        }
    ]
}

{% endschema %}
